AutoSchool-web/web/WEB-INF/wsdl/localhost_8080/wsAutoSchool/administrador.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://administrador/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://administrador/" name="administrador">
<types>
<xsd:schema>
<xsd:import namespace="http://administrador/" schemaLocation="http://localhost:8080/wsAutoSchool/administrador?xsd=1"/>
</xsd:schema>
</types>
<message name="getGrupo">
<part name="parameters" element="tns:getGrupo"/>
</message>
<message name="getGrupoResponse">
<part name="parameters" element="tns:getGrupoResponse"/>
</message>
<message name="consultaEquipos">
<part name="parameters" element="tns:consultaEquipos"/>
</message>
<message name="consultaEquiposResponse">
<part name="parameters" element="tns:consultaEquiposResponse"/>
</message>
<message name="getTipoUsr">
<part name="parameters" element="tns:getTipoUsr"/>
</message>
<message name="getTipoUsrResponse">
<part name="parameters" element="tns:getTipoUsrResponse"/>
</message>
<message name="getIdUsr">
<part name="parameters" element="tns:getIdUsr"/>
</message>
<message name="getIdUsrResponse">
<part name="parameters" element="tns:getIdUsrResponse"/>
</message>
<message name="buscarUsr">
<part name="parameters" element="tns:buscarUsr"/>
</message>
<message name="buscarUsrResponse">
<part name="parameters" element="tns:buscarUsrResponse"/>
</message>
<message name="getApeMaterno">
<part name="parameters" element="tns:getApeMaterno"/>
</message>
<message name="getApeMaternoResponse">
<part name="parameters" element="tns:getApeMaternoResponse"/>
</message>
<message name="getUsr">
<part name="parameters" element="tns:getUsr"/>
</message>
<message name="getUsrResponse">
<part name="parameters" element="tns:getUsrResponse"/>
</message>
<message name="getApePaterno">
<part name="parameters" element="tns:getApePaterno"/>
</message>
<message name="getApePaternoResponse">
<part name="parameters" element="tns:getApePaternoResponse"/>
</message>
<message name="getNombre">
<part name="parameters" element="tns:getNombre"/>
</message>
<message name="getNombreResponse">
<part name="parameters" element="tns:getNombreResponse"/>
</message>
<message name="getTodosLosDatosAlumno">
<part name="parameters" element="tns:getTodosLosDatosAlumno"/>
</message>
<message name="getTodosLosDatosAlumnoResponse">
<part name="parameters" element="tns:getTodosLosDatosAlumnoResponse"/>
</message>
<portType name="administrador">
<operation name="getGrupo">
<input wsam:Action="http://administrador/administrador/getGrupoRequest" message="tns:getGrupo"/>
<output wsam:Action="http://administrador/administrador/getGrupoResponse" message="tns:getGrupoResponse"/>
</operation>
<operation name="consultaEquipos">
<input wsam:Action="http://administrador/administrador/consultaEquiposRequest" message="tns:consultaEquipos"/>
<output wsam:Action="http://administrador/administrador/consultaEquiposResponse" message="tns:consultaEquiposResponse"/>
</operation>
<operation name="getTipoUsr">
<input wsam:Action="http://administrador/administrador/getTipoUsrRequest" message="tns:getTipoUsr"/>
<output wsam:Action="http://administrador/administrador/getTipoUsrResponse" message="tns:getTipoUsrResponse"/>
</operation>
<operation name="getIdUsr">
<input wsam:Action="http://administrador/administrador/getIdUsrRequest" message="tns:getIdUsr"/>
<output wsam:Action="http://administrador/administrador/getIdUsrResponse" message="tns:getIdUsrResponse"/>
</operation>
<operation name="buscarUsr">
<input wsam:Action="http://administrador/administrador/buscarUsrRequest" message="tns:buscarUsr"/>
<output wsam:Action="http://administrador/administrador/buscarUsrResponse" message="tns:buscarUsrResponse"/>
</operation>
<operation name="getApeMaterno">
<input wsam:Action="http://administrador/administrador/getApeMaternoRequest" message="tns:getApeMaterno"/>
<output wsam:Action="http://administrador/administrador/getApeMaternoResponse" message="tns:getApeMaternoResponse"/>
</operation>
<operation name="getUsr">
<input wsam:Action="http://administrador/administrador/getUsrRequest" message="tns:getUsr"/>
<output wsam:Action="http://administrador/administrador/getUsrResponse" message="tns:getUsrResponse"/>
</operation>
<operation name="getApePaterno">
<input wsam:Action="http://administrador/administrador/getApePaternoRequest" message="tns:getApePaterno"/>
<output wsam:Action="http://administrador/administrador/getApePaternoResponse" message="tns:getApePaternoResponse"/>
</operation>
<operation name="getNombre">
<input wsam:Action="http://administrador/administrador/getNombreRequest" message="tns:getNombre"/>
<output wsam:Action="http://administrador/administrador/getNombreResponse" message="tns:getNombreResponse"/>
</operation>
<operation name="getTodosLosDatosAlumno">
<input wsam:Action="http://administrador/administrador/getTodosLosDatosAlumnoRequest" message="tns:getTodosLosDatosAlumno"/>
<output wsam:Action="http://administrador/administrador/getTodosLosDatosAlumnoResponse" message="tns:getTodosLosDatosAlumnoResponse"/>
</operation>
</portType>
<binding name="administradorPortBinding" type="tns:administrador">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getGrupo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultaEquipos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTipoUsr">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getIdUsr">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarUsr">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getApeMaterno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsr">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getApePaterno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTodosLosDatosAlumno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="administrador">
<port name="administradorPort" binding="tns:administradorPortBinding">
<soap:address location="http://localhost:8080/wsAutoSchool/administrador"/>
</port>
</service>
</definitions>