serverAutoschool/src/META-INF/wsdl/localhost_8080/wsAutoSchool/datosProfesor.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://profesor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://profesor/" name="datosProfesor">
<types>
<xsd:schema>
<xsd:import namespace="http://profesor/" schemaLocation="http://localhost:8080/wsAutoSchool/datosProfesor?xsd=1"/>
</xsd:schema>
</types>
<message name="getNombre">
<part name="parameters" element="tns:getNombre"/>
</message>
<message name="getNombreResponse">
<part name="parameters" element="tns:getNombreResponse"/>
</message>
<message name="modificaProfe">
<part name="parameters" element="tns:modificaProfe"/>
</message>
<message name="modificaProfeResponse">
<part name="parameters" element="tns:modificaProfeResponse"/>
</message>
<message name="getApePaterno">
<part name="parameters" element="tns:getApePaterno"/>
</message>
<message name="getApePaternoResponse">
<part name="parameters" element="tns:getApePaternoResponse"/>
</message>
<message name="getTodosLosDatos">
<part name="parameters" element="tns:getTodosLosDatos"/>
</message>
<message name="getTodosLosDatosResponse">
<part name="parameters" element="tns:getTodosLosDatosResponse"/>
</message>
<message name="getApeMaterno">
<part name="parameters" element="tns:getApeMaterno"/>
</message>
<message name="getApeMaternoResponse">
<part name="parameters" element="tns:getApeMaternoResponse"/>
</message>
<message name="getHuella">
<part name="parameters" element="tns:getHuella"/>
</message>
<message name="getHuellaResponse">
<part name="parameters" element="tns:getHuellaResponse"/>
</message>
<message name="getEmail">
<part name="parameters" element="tns:getEmail"/>
</message>
<message name="getEmailResponse">
<part name="parameters" element="tns:getEmailResponse"/>
</message>
<message name="getUsr">
<part name="parameters" element="tns:getUsr"/>
</message>
<message name="getUsrResponse">
<part name="parameters" element="tns:getUsrResponse"/>
</message>
<message name="getContra">
<part name="parameters" element="tns:getContra"/>
</message>
<message name="getContraResponse">
<part name="parameters" element="tns:getContraResponse"/>
</message>
<message name="consultaAlumnos">
<part name="parameters" element="tns:consultaAlumnos"/>
</message>
<message name="consultaAlumnosResponse">
<part name="parameters" element="tns:consultaAlumnosResponse"/>
</message>
<message name="asistencia">
<part name="parameters" element="tns:asistencia"/>
</message>
<message name="asistenciaResponse">
<part name="parameters" element="tns:asistenciaResponse"/>
</message>
<portType name="datosProfesor">
<operation name="getNombre">
<input wsam:Action="http://profesor/datosProfesor/getNombreRequest" message="tns:getNombre"/>
<output wsam:Action="http://profesor/datosProfesor/getNombreResponse" message="tns:getNombreResponse"/>
</operation>
<operation name="modificaProfe">
<input wsam:Action="http://profesor/datosProfesor/modificaProfeRequest" message="tns:modificaProfe"/>
<output wsam:Action="http://profesor/datosProfesor/modificaProfeResponse" message="tns:modificaProfeResponse"/>
</operation>
<operation name="getApePaterno">
<input wsam:Action="http://profesor/datosProfesor/getApePaternoRequest" message="tns:getApePaterno"/>
<output wsam:Action="http://profesor/datosProfesor/getApePaternoResponse" message="tns:getApePaternoResponse"/>
</operation>
<operation name="getTodosLosDatos">
<input wsam:Action="http://profesor/datosProfesor/getTodosLosDatosRequest" message="tns:getTodosLosDatos"/>
<output wsam:Action="http://profesor/datosProfesor/getTodosLosDatosResponse" message="tns:getTodosLosDatosResponse"/>
</operation>
<operation name="getApeMaterno">
<input wsam:Action="http://profesor/datosProfesor/getApeMaternoRequest" message="tns:getApeMaterno"/>
<output wsam:Action="http://profesor/datosProfesor/getApeMaternoResponse" message="tns:getApeMaternoResponse"/>
</operation>
<operation name="getHuella">
<input wsam:Action="http://profesor/datosProfesor/getHuellaRequest" message="tns:getHuella"/>
<output wsam:Action="http://profesor/datosProfesor/getHuellaResponse" message="tns:getHuellaResponse"/>
</operation>
<operation name="getEmail">
<input wsam:Action="http://profesor/datosProfesor/getEmailRequest" message="tns:getEmail"/>
<output wsam:Action="http://profesor/datosProfesor/getEmailResponse" message="tns:getEmailResponse"/>
</operation>
<operation name="getUsr">
<input wsam:Action="http://profesor/datosProfesor/getUsrRequest" message="tns:getUsr"/>
<output wsam:Action="http://profesor/datosProfesor/getUsrResponse" message="tns:getUsrResponse"/>
</operation>
<operation name="getContra">
<input wsam:Action="http://profesor/datosProfesor/getContraRequest" message="tns:getContra"/>
<output wsam:Action="http://profesor/datosProfesor/getContraResponse" message="tns:getContraResponse"/>
</operation>
<operation name="consultaAlumnos">
<input wsam:Action="http://profesor/datosProfesor/consultaAlumnosRequest" message="tns:consultaAlumnos"/>
<output wsam:Action="http://profesor/datosProfesor/consultaAlumnosResponse" message="tns:consultaAlumnosResponse"/>
</operation>
<operation name="asistencia">
<input wsam:Action="http://profesor/datosProfesor/asistenciaRequest" message="tns:asistencia"/>
<output wsam:Action="http://profesor/datosProfesor/asistenciaResponse" message="tns:asistenciaResponse"/>
</operation>
</portType>
<binding name="datosProfesorPortBinding" type="tns:datosProfesor">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificaProfe">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getApePaterno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTodosLosDatos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getApeMaterno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getHuella">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsr">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getContra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultaAlumnos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="asistencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="datosProfesor">
<port name="datosProfesorPort" binding="tns:datosProfesorPortBinding">
<soap:address location="http://localhost:8080/wsAutoSchool/datosProfesor"/>
</port>
</service>
</definitions>