AutoSchool-web/src/conf/xml-resources/web-service-references/registro/wsdl/localhost_8080/wsAutoSchool/registro.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://acceso/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://acceso/">

<xs:element name="getxId" type="tns:getxId"/>

<xs:element name="getxIdResponse" type="tns:getxIdResponse"/>

<xs:element name="registroUsr" type="tns:registroUsr"/>

<xs:element name="registroUsrResponse" type="tns:registroUsrResponse"/>

<xs:complexType name="getxId">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getxIdResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registroUsr">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="paterno" type="xs:string" minOccurs="0"/>
<xs:element name="materno" type="xs:string" minOccurs="0"/>
<xs:element name="huella" type="xs:string" minOccurs="0"/>
<xs:element name="usr" type="xs:string" minOccurs="0"/>
<xs:element name="pswd" type="xs:string" minOccurs="0"/>
<xs:element name="tipoUsr" type="xs:string" minOccurs="0"/>
<xs:element name="grupo" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registroUsrResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>